<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Sports Management System</title>
    <!--/google-fonts-->
    <link href="//fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;0,700;1,400&display=swap"
        rel="stylesheet">
    <!--//google-fonts-->
    <!-- Template CSS -->
    <link rel="stylesheet" href="static/css/style-starter.css">
<style>
    .button{
        padding-left:20px;
        padding-right:20px;
        padding-top:10px;
        padding-bottom:10px;
        border-radius:10px;
        color:white;
        background-color: #C52899;
        border-color: #C52899;
    }
    .button:hover{
        color:black;
        transition:0s;
        background-color: lightgreen;
        border-color: lightgreen;
    }
    .button1{
        padding-left:20px;
        padding-right:20px;
        padding-top:10px;
        padding-bottom:10px;
        border-radius:10px;
        color:white;
        background-color: #C52899;
        border-color: #C52899;
    }
    .button1:hover{
        transition:0s;
        color:blue;
        background-color: red;
        border-color: red;
    }


    }
</style>
</head>

<body>
    <!--header-->
    <header id="site-header" class="fixed-top">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark stroke">
                <h1><a class="navbar-brand" href="#">
                        Sports<span class="sub-log">Management</span>System
                    </a></h1>
                <!-- if logo is image enable this
      <a class="navbar-brand" href="##">
          <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
      </a> -->


                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                    <nav class="mr-auto ml-lg-5">

                    </nav>
                    <ul class="navbar-nav mr-auto">
                        {% include 'menu/admin.html'  %}

                    </ul>
                </div>
                <!-- toggle switch for light and dark theme -->

                <div class="mobile-position">
                    <nav class="navigation">
                        <div class="theme-switch-wrapper">
                            <label class="theme-switch" for="checkbox">
                                <input type="checkbox" id="checkbox">
                                <div class="mode-container py-1">
                                    <i class="gg-sun"></i>
                                    <i class="gg-moon"></i>
                                </div>
                            </label>
                        </div>
                    </nav>
                </div>
                <!-- //toggle switch for light and dark theme -->
            </nav>
        </div>
    </header>
    <!--/header-->


    <!-- middle -->
    <div class="middle py-5">
        <div class="container pt-lg-2 pb-lg-4 py-4">
            <div class="welcome-left text-center py-lg-4">
                <h3 class="hny-title">Admin</h3>

            </div>
        </div>
    </div>
    <!-- //middle -->

    <!--//w3l-newsletter-->
    <section class="w3l-newsletter">
        <!-- /form-25-section -->
        <div class="form-25-main py-5">
            <div class="container py-lg-5">
                <div class="forms-25-info">
                    <div class="header-title mb-md-5 mt-4">
                        <span class="sub-title"></span>
                        <h3 class="hny-title text-left">Personal Informations</h3>
                    </div>

<table width="500px" border="0" align="center" class="contactct-fm map-content-9">


                {% for item in data %}
              <tr>
                         <tr><td><img src="static/uploads/{{item[12]}}" width="100" height="100"></td></tr>
                         <tr><td><strong>Event Name  </strong></td><td><h5>: {{item[1]}}</h5></td></tr>
                         <tr><td><strong>Place  </strong></td><td><h5>: {{item[2]}}</h5></td></tr>
                         <tr><td><strong>Player Name  </strong></td><td><h5>: {{item[3]}}</h5></td></tr>
                         <tr><td><strong>Gender  </strong></td><td><h5>: {{item[4]}}</h5></td></tr>
                         <tr><td><strong>Date Of Birth  </strong></td><td><h5>: {{item[5]}}</h5></td></tr>
                         <tr><td><strong>Mobile  </strong></td><td><h5>: {{item[6]}}</h5></td></tr>
                         <tr><td><strong>Email  </strong></td><td><h5>:{{item[7]}}</h5></td></tr>
                         <tr><td><strong>Address  </strong></td><td><h5>: {{item[8]}}</h5></td></tr>
                         <tr><td><strong>Pincode  </strong></td><td><h5>: {{item[9]}}</h5></td></tr>
                         <tr><td><strong>Height  </strong></td><td><h5>: {{item[10]}}</h5></td></tr>
                         <tr><td><strong>Weight  </strong></td><td><h5>: {{item[11]}}</h5></td></tr>
                         <tr><td><strong>Proof  </strong></td><td><h5>:<a href="download?id={{item[0]}}"> Download</a></h5></td></tr>
                        <tr><td><strong>Status  </strong></td><td><h5>: {{item[14]}}</h5></td></tr>
                         <tr><td><br></td></tr>





              </tr>
			  {% endfor %}

            </table>

                </div>
            </div>
        </div>
    </section>


    <!-- footer -->
    <section class="w3l-footer-29-main">
        <div class="footer-29 py-5">
            <div class="container py-lg-4">
                <div class="footer-logo mb-3" align="center">
                            <a class="navbar-brand">Sports Management System</a>
                        </div>
                <div class="col-lg-4 col-md-6 col-sm-7 footer-list-29 footer-1 pr-lg-5">
                <div class="row footer-top-29">
                </div>
            </div>
        </div>
        </div>
    </section>
    <!-- //footer -->

    <!-- copyright -->
    <section class="w3l-copyright">
        <div class="container" align="center">
            <p class="col-lg-8 copy-footer-29">© 2024 Sports Management System. All rights reserved. Design by <a
                        href="#" target="_blank">
                        Student</a></p>
            <div class="row bottom-copies">
            </div>
        </div>
        <!-- move top -->
        <button onclick="topFunction()" id="movetop" title="Go to top">
            &#10548;
        </button>
        <script>
            // When the user scrolls down 20px from the top of the document, show the button
            window.onscroll = function () {
                scrollFunction()
            };

            function scrollFunction() {
                if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                    document.getElementById("movetop").style.display = "block";
                } else {
                    document.getElementById("movetop").style.display = "none";
                }
            }

            // When the user clicks on the button, scroll to the top of the document
            function topFunction() {
                document.body.scrollTop = 0;
                document.documentElement.scrollTop = 0;
            }
        </script>
        <!-- /move top -->
    </section>
    <!-- Flash Notification -->
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <script>
                var messages = {{ messages | safe }};
                for (var i=0; i<messages.length; i++) {
                alert(messages[i]);
                }
             </script>
            {% endif %}
            {% endwith %}
        <!-- Flash Notification -->
    <!-- //copyright -->

    <script src="static/js/jquery-3.3.1.min.js"></script> <!-- Common jquery plugin -->

    <script src="static/js/theme-change.js"></script><!-- theme switch js (light and dark)-->

    <script src="static/js/owl.carousel.js"></script>
    <!-- script for banner slider-->
    <script>
        $(document).ready(function () {
            $('.owl-one').owlCarousel({
                loop: true,
                margin: 0,
                nav: false,
                responsiveClass: true,
                autoplay: true,
                autoplayTimeout: 5000,
                autoplaySpeed: 1000,
                autoplayHoverPause: false,
                responsive: {
                    0: {
                        items: 1,
                        nav: false
                    },
                    480: {
                        items: 1,
                        nav: false
                    },
                    667: {
                        items: 1,
                        nav: true
                    },
                    1000: {
                        items: 1,
                        nav: true
                    }
                }
            })
        })
    </script>
    <!-- //script -->
    <!-- magnific popup -->
    <script src="static/js/jquery.magnific-popup.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.popup-with-zoom-anim').magnificPopup({
                type: 'inline',

                fixedContentPos: false,
                fixedBgPos: true,

                overflowY: 'auto',

                closeBtnInside: true,
                preloader: false,

                midClick: true,
                removalDelay: 300,
                mainClass: 'my-mfp-zoom-in'
            });

            $('.popup-with-move-anim').magnificPopup({
                type: 'inline',

                fixedContentPos: false,
                fixedBgPos: true,

                overflowY: 'auto',

                closeBtnInside: true,
                preloader: false,

                midClick: true,
                removalDelay: 300,
                mainClass: 'my-mfp-slide-bottom'
            });
        });
    </script>
    <!-- //magnific popup -->
    <!-- /counter-->
    <script src="static/js/counter.js"></script>
    <!-- //counter-->
    <!-- script for tesimonials carousel slider -->
    <script>
        $(document).ready(function () {
            $("#owl-demo1").owlCarousel({
                loop: true,
                margin: 20,
                nav: false,
                responsiveClass: true,
                responsive: {
                    0: {
                        items: 1,
                        nav: false
                    },
                    1000: {
                        items:2,
                        nav: false,
                        loop:true
                    }
                }
            })
        })
    </script>
    <!-- //script for tesimonials carousel slider -->

    <!--/MENU-JS-->
    <script>
        $(window).on("scroll", function () {
            var scroll = $(window).scrollTop();

            if (scroll >= 80) {
                $("#site-header").addClass("nav-fixed");
            } else {
                $("#site-header").removeClass("nav-fixed");
            }
        });

        //Main navigation Active Class Add Remove
        $(".navbar-toggler").on("click", function () {
            $("header").toggleClass("active");
        });
        $(document).on("ready", function () {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
            $(window).on("resize", function () {
                if ($(window).width() > 991) {
                    $("header").removeClass("active");
                }
            });
        });
    </script>
    <!--//MENU-JS-->

    <!-- disable body scroll which navbar is in active -->
    <script>
        $(function () {
            $('.navbar-toggler').click(function () {
                $('body').toggleClass('noscroll');
            })
        });
    </script>
    <!-- //disable body scroll which navbar is in active -->

    <!--bootstrap-->
    <script src="static/js/bootstrap.min.js"></script>
    <!-- //bootstrap-->

</body>

</html>